.lc {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 32px;
}
a {
  text-decoration: none !important;
}
.af {
  display: block;
}

div {
  display: block;
}

.dn {
  height: 100%;
}
.aj {
  width: 100%;
}
.pr {
  margin-bottom: 48px;
}

.pn {
  opacity: 1;
}
.pu {
  flex: 1 1 auto;
}
.il {
  justify-content: space-between;
}
.ct {
  box-sizing: border-box;
}
.bv {
  align-items: center;
}
.ar {
  display: flex;
}
.ez {
  margin-right: 20px;
}
.az {
  min-width: 0;
}
.aj {
  width: 100%;
}
.af {
  display: block;
}
.bl {
  margin: 0;
}
.bk {
  padding: 0;
}
.bj {
  font-weight: inherit;
}
.bi {
  letter-spacing: inherit;
}
.bh {
  font-family: inherit;
}
.bg {
  border: inherit;
}
.bf {
  font-size: inherit;
}
.be {
  fill: inherit;
}
.bd {
  color: inherit;
}
a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

.lb {
  padding-bottom: 8px;
}
.af {
  display: block;
}

.bv {
  align-items: center;
}

.bc {
  flex-direction: row;
}
.ar {
  display: flex;
}

.hf {
  width: 20px;
}

.he {
  height: 20px;
}
.hc {
  border-radius: 4px;
}

.mq {
  margin-left: 8px;
}

.fg {
  flex-wrap: wrap;
}
.bv {
  align-items: center;
}
.ar {
  display: flex;
}

.hi {
  height: 16px;
}

.af {
  display: block;
}

.bl {
  margin: 0;
}
.bk {
  padding: 0;
}
.bj {
  font-weight: inherit;
}
.bi {
  letter-spacing: inherit;
}
.bh {
  font-family: inherit;
}
.bg {
  border: inherit;
}
.bf {
  font-size: inherit;
}
.be {
  fill: inherit;
}
.bd {
  color: inherit;
}

.mw {
  max-height: none;
}
.qj {
  letter-spacing: 0px;
}
.qi {
  max-height: 56px;
}
.qh {
  line-height: 28px;
}
.qg {
  font-size: 22px;
}
.qs {
  -webkit-line-clamp: 2;
}
.mv {
  -webkit-box-orient: vertical;
}
.mt {
  display: -webkit-box;
}
.ms {
  text-overflow: ellipsis;
}
.kn {
  overflow: hidden;
}
.hu {
  font-weight: 700;
}
.cd {
  color: rgba(41, 41, 41, 1);
}
.ca {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.qt {
  padding-top: 4px;
}
.mw {
  max-height: none;
}
.qs {
  -webkit-line-clamp: 2;
}
.mv {
  -webkit-box-orient: vertical;
}
.mt {
  display: -webkit-box;
}
.ms {
  text-overflow: ellipsis;
}
.kn {
  overflow: hidden;
}
.km {
  max-height: 40px;
}
.ie {
  color: rgba(117, 117, 117, 1);
}
.ej {
  font-size: 16px;
}
.cc {
  line-height: 20px;
}
.ca {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.b {
  font-weight: 400;
}
.qw {
  padding-top: 8px;
}
.qz {
  align-items: baseline;
}
.il {
  justify-content: space-between;
}
.ar {
  display: flex;
}

.bv {
  align-items: center;
}
.az {
  min-width: 0;
}
.nn {
  white-space: nowrap;
}
.ie {
  color: rgba(117, 117, 117, 1);
}
.id {
  font-size: 13px;
}
.cc {
  line-height: 20px;
}
.ca {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.b {
  font-weight: 400;
}
.rb {
  top: -1px;
}
.ra {
  padding-right: 6px;
}
.mz {
  padding-left: 6px;
}
.gy {
  position: relative;
}
.dn {
  height: 100%;
}
.ie {
  color: rgba(117, 117, 117, 1);
}

.cc {
  line-height: 20px;
}
.cb {
  font-size: 14px;
}
.ca {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.b {
  font-weight: 400;
}
.bl {
  margin: 0;
}
.bk {
  padding: 0;
}
.bj {
  font-weight: inherit;
}
.bi {
  letter-spacing: inherit;
}
.bh {
  font-family: inherit;
}
.bg {
  border: inherit;
}
.bf {
  font-size: inherit;
}
.be {
  fill: inherit;
}
.bd {
  color: inherit;
}
.rc {
  padding: 2px 8px;
}

.kp {
  border-radius: 100px;
}
.gy {
  position: relative;
}
.fc {
  background-color: rgba(242, 242, 242, 1);
}
.af {
  display: block;
}
.ie {
  color: rgba(117, 117, 117, 1);
}
.id {
  font-size: 13px;
}
.cc {
  line-height: 20px;
}
.ca {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.b {
  font-weight: 400;
}
.nn {
  white-space: nowrap;
}
.az {
  min-width: 0;
}
.mw {
  max-height: none;
}
.os {
  max-height: 20px;
}
.mv {
  -webkit-box-orient: vertical;
}
.mu {
  -webkit-line-clamp: 1;
}
.mt {
  display: -webkit-box;
}
.ms {
  text-overflow: ellipsis;
}
.kn {
  overflow: hidden;
}
.ie {
  color: rgba(117, 117, 117, 1);
}
.id {
  font-size: 13px;
}
.cc {
  line-height: 20px;
}
.nb {
  font-size: 15px;
}
.na {
  transform: translateY(-1.25px);
}
.mz {
  padding-left: 6px;
}
.jk {
  fill: rgba(117, 117, 117, 1);
}
.gy {
  position: relative;
}
.dn {
  height: 100%;
}
.cc {
  line-height: 20px;
}

img,
svg {
  vertical-align: middle;
}

.diary-image {
  width: 200px;
  aspect-ratio: auto 200 / 170;
  height: 170px;
}

.title {
  font-family: calibre;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.741);
  font-weight: 600;
  letter-spacing: 1px;
}

.body p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  display: none;
}

.body {
  font-weight: 500;
}

.welcome-text .main-heading {
  text-transform: uppercase;
  color: #646369;
  font-weight: 300;
  font-size: 1.8em;
}

@media screen and (max-width: 520px) {
  .diary-image {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .image-control {
    height: auto;
  }

  .diary-image {
    width: 100px;
    aspect-ratio: auto 100 / 100;
    height: 100px;
  }

  .qt .title {
    display: none;
  }

  .title {
    font-weight: 300;
  }

  .id {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
  }
}
