@font-face {
  font-family: "calibre";
  src: url(./Calibre-Regular/Calibre-Regular.woff);
}

:root {
  /* --color-purple1: #170312f3;
  --color-purple2: #37123c8d; */
  --color-silver: #e4e7ea;
  --color-white: #fff;
  --color-black: #000;
  --color-silver-2: #54667a;
  --color-silver-3: #f1f1f4;
  --color-silver-4: #999;
  --color-1: #f93d66;
  --color-2: #6d47d9;
  --red-color: #cd5c5c;
  --color-purple1: #01161e;
  --color-purple2: #01161e71;
  --font-sans: "Calibre", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}

html {
  scrollbar-color: var(--color-silver-2) var(--color-purple1);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-purple2);
  border-radius: 50px;
}

body {
  font-family: calibre;
  color: #ccc;
  background: rgba(255, 255, 255, 0.809);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 700;
  margin: 0;
  padding: 0;
  font-family: calibre;
  color: rgba(0, 0, 0, 0.87);
}
ul li {
  list-style: none;
}
i {
  margin: 0;
  padding: 0;
}

/* Header Styles */
.top-header {
  display: grid;
  grid-template-columns: 100px, 1fr, 1fr;
  grid-template-rows: repeat (1fr, 3);
  background-color: #3b0d11;
}

.logout-btn {
  text-decoration: none;
  color: hsl(315, 77%, 5%);
  border: 2px solid hsl(315, 77%, 5%);
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: 10px;
  transition: 0.5s linear;
  text-align: center;
  outline: none;
  cursor: pointer;
}

/* login styles */
.container-div {
  color: #222;
  background-image: url("./topography.svg"),
    linear-gradient(100deg, #3c1236, #37123ce8);
  color: #f7fff793;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.login-text {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 500;
  font-size: 32px;
  color: #f7fff793;
}

.login-text-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  font-size: 20px;
  color: #f7fff793;
}

/*=== Style Signup and Login Form ===*/

.signup-container {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 100vh;
}

.account-left {
  width: 70%;
  background-image: linear-gradient(
      to right bottom,
      var(--color-purple1) 50%,
      var(--color-purple2) 50%
    ),
    url("./img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.account-text {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: var(--color-black);
}

.account-right {
  background-image: url("./topography.svg");
  width: 30%;
  position: relative;
}

.form-area {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.group {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  width: 90%;
  display: block;
  padding: 1.1rem 1rem;
  border-radius: 3px;
  border: 1px solid var(--color-purple1);
  transition: all 1s;
  color: rgba(0, 0, 0, 0.721);
  background-color: #fff;
}

.control:focus {
  outline: none;
  border: 1px solid var(--color-2);
}

.btn {
  display: block;
  padding: 1rem 0.2rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  text-transform: uppercase;
  border: 0px;
  color: var(--color-white);
}

.account-btn {
  color: rgba(0, 0, 0, 0.721);
  letter-spacing: 1.6px;
  font-size: 14px;
  display: block;
  padding: 10px 35px;
  border-radius: 35px;
  box-shadow: none;
  background-color: none;
  cursor: pointer;
  text-decoration: none;
  border: 1px dashed var(--color-purple1);
  background-color: transparent;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    var(--color-purple1) 50%,
    var(--color-purple2)
  );
  background-position: 100% 0px;
  background-size: 200% 100%;
  transition: 0.7s ease-in-out;
  width: 100%;
  outline: none;
}

.account-btn:hover {
  cursor: pointer;
  background: var(--color-purple2);
  color: rgba(0, 0, 0, 0.721);
}

.form-heading {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 400;
  border-bottom: 0.1rem solid var(--color-silver);
  padding-bottom: 1.5rem;
  letter-spacing: 0.2rem;
  text-align: left;
  color: #999;
}

.link {
  color: rgba(0, 0, 0, 0.721);
  display: block;
  font-size: 1rem;
  text-decoration: none !important;
  text-align: left;
  font-weight: normal;
  padding-top: 1.2rem;
  transition: 0.8s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.link:hover {
  cursor: pointer;
  color: #3b0d11;
}

/*=== Responsive Media Queries ===*/

@media (max-width: 995px) {
  .account-left {
    display: none !important;
  }
  .account-right {
    color: #999;
    background-size: cover;
    background-image: linear-gradient(
        to bottom right,
        var(--color-purple2) 50%,
        var(--color-purple2) 50%,
        var(--color-purple2)
      ),
      url("./img.jpg");
    width: 100%;
  }

  .control {
    background-color: #fff;
    color: #000;
  }

  .account-btn {
    color: #999;
  }

  .account-btn:hover {
    color: var(--color-silver-3);
  }

  .link {
    color: #999;
  }

  ::-webkit-input-placeholder {
    font-size: 0.9rem;
    color: var(--color-black);
  }
}

/* Loader Styling */

.spinner-10 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #854f1d;
  background: linear-gradient(currentColor 0 0) center/100% 4px,
    linear-gradient(currentColor 0 0) center/4px 100%,
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 6px),
      currentColor calc(100% - 5px)
    ),
    radial-gradient(circle 6px, currentColor 94%, #0000 0);
  background-repeat: no-repeat;
  animation: s10 2s infinite linear;
  position: relative;
}
.spinner-10:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: inherit;
  transform: rotate(45deg);
}
@keyframes s10 {
  to {
    transform: rotate(0.5turn);
  }
}

/* homeScreen styles */
.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text .big-heading {
  margin-top: 4px;
  letter-spacing: 1.7px;
  line-height: normal;
  color: #8892b0;
  font-size: clamp(20px, 8vw, 35px);
  font-weight: 300;
}

.welcome-text .small-heading {
  margin-top: 4px;
  letter-spacing: 1.7px;
  line-height: normal;
  color: #8892b0;
  font-size: clamp(20px, 8vw, 30px);
  font-weight: 300;
}

.welcome-text i {
  margin-top: 70px;
  font-size: 280px;
  transition: 2s ease-in-out;
  outline: none;
  outline-offset: none;
}

.welcome-text i:hover {
  scale: 1.1;
  transform: rotate(90deg);
}

/* Layout */

#container {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

#main {
  padding: 4% 1.5em;
  max-width: 55em;
  margin: 0 auto;
}

#header {
  padding: 1.5em;
  margin: 0 0 1em 0;
  background-color: #eee;
}

#footer {
  padding: 1.5em;
  margin: 2em 0 0 0;
  background-color: #eee;
}

/* Menu Styles */

.primary-nav {
  position: fixed;
  z-index: 999;
}

.menu {
  position: relative;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.open-panel {
  border: none;
  background-color: #fff;
  padding: 0;
}

.hamburger {
  background: #fff;
  position: relative;
  display: block;
  text-align: center;
  padding: 13px 0;
  width: 50px;
  height: 73px;
  left: 0;
  top: 0;
  z-index: 1000;
  cursor: pointer;
}

.hamburger:before {
  content: "\2630"; /* hamburger icon */
  display: block;
  color: #000;
  line-height: 32px;
  font-size: 16px;
}

.openNav .hamburger:before {
  content: "\2715"; /* close icon */
  display: block;
  color: #000;
  line-height: 32px;
  font-size: 16px;
}

.hamburger:hover:before {
  color: #777;
}

.primary-nav .menu li {
  position: relative;
}

.menu .icon {
  position: absolute;
  top: 12px;
  right: 10px;
  pointer-events: none;
  width: 24px;
  height: 24px;
  color: #fff;
}

.menu,
.menu a,
.menu a:visited {
  color: #aaa;
  text-decoration: none !important;
  position: relative;
}

.menu a {
  display: block;
  white-space: nowrap;
  padding: 1em;
  font-size: 14px;
}

.menu a:hover {
  color: #fff;
}

.menu {
  margin-bottom: 3em;
}

.menu-dropdown li .icon {
  color: #777;
}

.menu-dropdown li:hover .icon {
  color: #fff;
}

.menu label {
  margin-bottom: 0;
  display: block;
}

.menu label:hover {
  cursor: pointer;
}

.menu input[type="checkbox"] {
  display: none;
}

input#menu[type="checkbox"] {
  display: none;
}

.sub-menu-dropdown {
  display: none;
}

.new-wrapper {
  position: absolute;
  left: 50px;
  width: calc(100% - 50px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #fdfff7;
}

.wrappper-background {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      var(--color-purple1) 50%,
      var(--color-purple1) 50%
    ),
    url(./topography.svg);
}

#menu:checked + ul.menu-dropdown {
  left: 0;
  -webkit-animation: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.sub-menu-checkbox:checked + ul.sub-menu-dropdown {
  display: block !important;
  -webkit-animation: grow 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  animation: grow 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.openNav .new-wrapper {
  position: absolute;
  transform: translate3d(200px, 0, 0);
  width: calc(100% - 250px);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

.downarrow {
  background: transparent;
  position: absolute;
  right: 50px;
  top: 12px;
  color: #777;
  width: 24px;
  height: 24px;
  text-align: center;
  display: block;
}

.downarrow:hover {
  color: #fff;
}

.menu {
  position: absolute;
  display: block;
  left: -200px;
  top: 0;
  width: 250px;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #000;
  z-index: 999;
}

.menu-dropdown {
  top: 0;
  overflow-y: auto;
}

.overflow-container {
  position: relative;
  height: calc(100vh - 73px) !important;
  overflow-y: auto;
  border-top: 73px solid #fff;
  z-index: -1;
  display: block;
}

.menu a.logotype {
  position: absolute !important;
  top: 11px;
  left: 55px;
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
  font-size: 21px;
  padding: 10px;
}

.menu a.logotype span {
  font-weight: 400;
}

.menu a.logotype:hover {
  color: #777;
}

.sub-menu-dropdown {
  background-color: #333;
}

.menu:hover {
  position: absolute;
  left: 0;
  top: 0;
}

.openNav .menu:hover {
  position: absolute;
  left: -200px;
  top: 73px;
}

.openNav .menu {
  top: 73px;
  transform: translate3d(200px, 0, 0);
  transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
}

/* label.hamburger {
		display: none;
	} */

/* look and feel only, not needed for core menu*/

@-webkit-keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Resposive Typography */

body,
button,
input,
select,
optgroup,
textarea {
  color: #000;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 800;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

.light {
  color: #ddd;
}

strong {
  font-weight: 600;
}

cite,
em,
i {
  font-style: italic;
}

p.big {
  font-size: 140%;
  line-height: 1.3em;
}

p.small {
  font-size: 80%;
}

blockquote {
  display: block;
  margin: 1em 20px;
  padding: 0 1em;
  position: relative;
}

blockquote:before {
}

blockquote cite,
blockquote em,
blockquote i {
  font-style: italic;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

p {
  font-size: 1em;
  margin: 0 0 2em 0;
}

article:last-of-type,
p:last-of-type {
  margin-bottom: 0;
}

p.intro {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 300;
  margin: 0 0 1.5em 0;
}

h1,
h2 {
  letter-spacing: -1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

h1,
.h1 {
  font-size: 2.074em;
}

h2,
.h2 {
  font-size: 1.728em;
}

h3,
.h3 {
  font-size: 1.44em;
}

h4,
.h4 {
  font-size: 1.2em;
}

/* Medium Screen Typography - Scale: 1.333 Perfect Fourth (thanks http://type-scale.com/)  */

@media screen and (min-width: 42em) {
  h1,
  .h1 {
    letter-spacing: -2px;
  }

  h1,
  .h1 {
    font-size: 3.157em;
  }

  h2,
  .h2 {
    font-size: 2.369em;
  }

  h3,
  .h3 {
    font-size: 1.777em;
  }

  h4,
  .h4 {
    font-size: 1.333em;
  }

  p {
    font-size: 1.0625em;
  }

  p.intro {
    font-size: 1.3em;
  }
}

/* Large Screen Typography  - Scale: 1.414 Augmented Fourth (thanks http://type-scale.com/)  */

@media screen and (min-width: 72em) {
  h1 {
    letter-spacing: -3px;
  }

  h1,
  .h1 {
    margin-bottom: 0.35em;
    font-size: 3.998em;
  }

  h2,
  .h2 {
    font-size: 2.827em;
  }

  h3,
  .h3 {
    font-size: 1.999em;
  }

  h4,
  .h4 {
    font-size: 1.414em;
  }

  p {
    font-size: 1.125em;
  }

  p.intro {
    font-size: 1.4em;
  }
}

/* Form styles */
.form-container {
  display: block;
  text-align: justify;
  margin: 15px;
  background: url("./topography.svg");
}
.form-container .group {
  display: block;
}
.form-label {
  display: block;
  text-align: start;
  letter-spacing: 1.5px;
  font-size: clamp(20px, 3vw, 40px);
  color: #000000a1;
  font-weight: 600;
}

/* Homescreen flex styles */

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 2px solid #490a3d;
  border-radius: 5px;
  color: #fff;
  flex: 1 1 200px;
}

.cards h2 {
  margin: 0;
  padding: 10px;
}

.cards p {
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.flex li {
  flex: 1 1 200px;
  margin: 10px;
}

/* top navigation */
.top-navigation {
  display: block;
  margin-bottom: 10px;
  width: 90%;
}
.crayons-textfield {
  line-height: 1.5;
  padding: calc(0.5em - 0.7rem) 0.5em;
  font-family: inherit;
  font-size: 1em;
  width: 100%;
  resize: vertical;
}
